@charset "utf-8";
/* CSS Document */
body {
	margin: 0px;
	padding: 0px;
}
.vehicle_top {
	 background-image: url(task.png);
     font-size: 24px;
    color: #FFF;
    height: 64px;
    width: 100%;
    text-align: center;
    vertical-align: bottom;
    line-height: 84px;
}
.vehicle_top .vehicle_back {
	float: left;
	height: 30px;
	width: 30px;
	margin-left: 5px;
	margin-top: 5px;
}
.vehicle_top div{
    width:50%;
    margin:0 auto;
}
.vehicle_top .vehicle_home {
	float: right;
	margin-right: 10px;
	height: 30px;
	width: 30px;
	margin-top: 5px;
}

.divTable {
	height: auto;
	width: 100%;
	margin-top: 10%;
}
.divTable .divTable_divCenter label {
	font-size: 18px;
	font-weight: bold;
	color: #FC6E3D;
}
.divTable .divTable_divCenter input {
	border-style: none;
	font-size: 14px;
	height:20px;
	color: #000;
	width:70%; max-height:70%; margin:auto; overflow:auto;
}
.divTable .divTable_divCenter div input {
	color: #FFF;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	border-radius:5px;
	width: 100%;
	height: 30px;
	text-align: center;
	line-height: 20px;
	background-image: url(task.png);
}


.divTable_divCenter {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}
.divTable_fengexian {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCC;
}
